@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Playfair Display', serif;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

section .footer {
}

h3 {
    font-size: 50px;
}

p {
    color: #0000009c;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    text-align: center;
    
}

.btn {
    background-color: #4f9cf9;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.btn:hover {
    background-color: #3580db;
}

@keyframes animate-outline {
    from {
        outline: 0px solid #4f9bf98a;
    }

    to {
        outline: 15px solid #4f9bf900;
    }
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    color: white;
    margin: 0 35px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    font-family: 'Inter', sans-serif;
}

nav ul a:not(.btn)::after {
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}
/* Menu Mobile*/
nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}
nav .close-icon{
    display: none;
    font-size: 30px;
    color: white;
}
.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 50px;
    text-align: center;
    padding: 0 50px;
    color: white;
}

.banner .banner-text h1 {
    font-size: 96px;
    color: white;
    font-weight: bold;
}

.banner .banner-text p {
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}

/* faca mais */
.faca-mais .container {
    display: flex;
    align-items: center;
}

.faca-mais .faca-mais-text {
    width: 50%;
    padding: 0 40px;
    color: white;
}

.faca-mais .faca-mais-text h3 {
    font-size: 56px;
    color: white;
}

.faca-mais .faca-mais-text p {
    margin: 10px 0 14px 0;
    color: white;
}

.faca-mais .faca-mais-img {
    width: 70%;
}

.faca-mais .faca-mais-img {
    width: 50%;
    /* imagem da tela inicial */
}

.depoimentos h3 {
    margin-top: 20px;
    text-align: center;
    color: white;
}
.depoimentos h4 {
    margin-top: 40px;
    text-align: center;
    color: white;
}

.depoimentos p {
    margin-bottom: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.depoimentos .card-item {
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentos .card-item img {
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.depoimentos .card-item .nome-user {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
    color: black;
}

.depoimentos .card-item .depoimentos-user {
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.color, .items-center {
    color: white;
}

.depoimentos .card-item .estrelas {
    margin: 15px 0;
    border-top: 2px solid #71767a23;
}

.depoimentos .card-item .estrelas i {
    color: #4f9cf9;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.depoimentos .card-item:hover {
    background-color: #4f9cf9;
    margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimentos-user,
.depoimentos .card-item:hover .estrelas i{
    color: white;
}

/* clientes */
.clientes h3
.clientes p {
    text-align: center;
    color: white;
}

.clientes .color {
    margin-top: 20px;
    color: white;
}

.clientes .container div {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Altere para space-between */
    flex-wrap: nowrap; /* Evite quebrar os elementos para a próxima linha */
    margin-bottom: 30px;
    width: 15%; /* Defina a largura para 25% para que os 4 itens caibam em uma linha */
    box-sizing: border-box; /* Garanta que as bordas e preenchimento não aumentem a largura */
    text-align: center; /* Centralize o conteúdo horizontalmente */
    gap: 10px;
}
/* footer */
footer {
    background-color: #4f9cf9;
    text-align: center;
    bottom: 0;
    width: 100%; /* Para ocupar toda a largura da tela */
}
.footer i {
    color: #4f9cf9;
    font-size: 25px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}
.footer p {
    margin-top: 10px;
    color: white;
}
/* Página Sobre */
.sobre .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sobre .sobre-text {
    width: 100%;
    align-items: center;
    /* padding-right: 40px; */
    /* background-color: black; */
}

.sobre .sobre-text h2 {
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    letter-spacing: 1px; /* Ajusta o espaçamento das letras para destacar o título */
}

.sobre .sobre-text p {
    margin: 22px 0;
    color: white;
    width: 100%;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    letter-spacing: 0.5px; /* Ajusta o espaçamento das letras para os parágrafos */
}

.sobre .sobre-img {
    width: 50%;
}

.sobre .sobre-img img {
    width: 100%;
    border-radius: 20px;
}

/* Destaques */
.destaques {
    background-color: #4f9cf9; /* Adicionei uma cor de fundo para a seção de destaques */
    padding: 40px 0;
}

.destaques h2 {
    color: #333; /* Adicionei uma cor para o título */
}

.destaques .destaque-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.destaques .destaque-item i {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff; /* Adicionei uma cor para os ícones */
}

/* Equipe */
.equipe {
    padding: 40px 0;
    background-color: #fff; /* Adicionei uma cor de fundo para a seção da equipe */
}

.equipe h2 {
    color: #333; /* Adicionei uma cor para o título */
}

.equipe p {
    color: #555; /* Adicionei uma cor para o texto */
}

/* footer */
footer {
    background-color: #4f9cf9;
    text-align: center;
    bottom: 0;
    width: 100%; /* Para ocupar toda a largura da tela */
}
.footer i {
    color: #4f9cf9;
    font-size: 25px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}
.footer p {
    margin-top: 10px;
    color: white;
}

/* end Página Sobre */
/* Página Serviço */
.servicos h3{
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.servicos .container > p{
    text-align: center;
}
.servicos .rows-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: nowrap;
}
.servicos .row-card-item{
    background-color: #d3e6fd;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}    
.servicos .row-card-item:hover{
  background-color: #4f9cf9;
}
.servicos .row-card-item:hover p{
    color: white;
}
.servicos .row-card-item img{
    background-color: #4f9cf9;
    border-radius: 14px;
    width: 70px;
    padding: 9px;
}
.servicos .row-card-item p.nome-servico{
    margin: 5px 0;
    transform: 0.3s;
}
.servicos .row-card-item p.descricao-servico{
    transition: 0.3s;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.gallery-items img {
    width: 340px;
    height: 340px;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;    
}
.gallery-items:hover{
    transform: scale(1.3);
}
/* dados */
.dados{
    background-color: #d3e6fd;
}
.dados .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.dados .dados-item{
    text-align: center;
    margin: 15px;
    color: #000000be;
}
.dados .dados-item img{
    background-color: #4f9cf9;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}
.dados .dados-item p{
    font-size: 18px;
}
.dados .dados-item p strong{
    font-size: 28px;
}
/* end Página Serviço */
/*Pagina de Contato */
.contato-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contato-info .fa fa-phone div{
    background-color: black;
}

.contato-info .left-side {
    /* width: 50px; */
    padding: 22px;
    background-color: #769cca6b;
    border-radius: 30px;
    margin-right: 50px;
    height: fit-content;
}

.contato-info .left-side div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contato-info .left-side div i {
    font-size: 30px;
    margin-right: 6px;
    color: white;
}

.contato-info .left-side p {
    font-size: 17px;
    color: white;
}

.contato-info .right-side {
    width: 50%;
    margin-bottom: 20px;
}

.contato-info .right-side input,
.contato-info .right-side textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 47px;
    padding: 15px;
    border-radius: 9px;
    transition: 0.3s;
    border: 1px solid #f1f1f1;
    color: #212121;
    font-weight: lighter;
}

.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus {
    border-color: #4f9cf9;    
}

.contato-info .right-side textarea {
    border: 1px solid #f1f1f1;
    color: #212121;
    border-radius: 9px;
    margin-bottom: 10px;
    padding: 35px;
    width: 100%;
    transition: 0.3s;
    resize: none;
}

.contato-info .right-side button {
   background-color: #4f9cf9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.contato-info .right-side button:hover {
background-color: #4f9cf9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 0 10px #000000;
}
/* Pagina de obrigado */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #101026;
    flex-direction: column;
}
.text{
    font-size: 455px;
    color: #f5f5f5;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background: #f5f5f5;
    text-decoration: none;
    color: #101026;
    font-size: 18px;
    transition: all 0.5s ;
}
.btn:hover{
    border-radius: 16px;
}
/* END pagina obrigado */

/* Carrossel */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width:800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border:2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -25%;
}

#radio3:checked ~.first{
    margin-left: -50%;
}

#radio4:checked ~.first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}

@media (max-width: 830px) {
    /* menu mobile */
    .ul{
        position: fixed;
        top: 0;
        left: 0;
        background: #184b88;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }
    .ul.open{
        clip-path: circle(141.4% at 100% 0);
    }
    .ul a{
        margin: 20px 0;
        font-size: 20px;
        
    }
    nav .menu-icon{
        display: block;
        margin-right: 50px;
    }
    nav .close-icon{
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
    nav .close-icon:hover{
        cursor: pointer;
    }
    /* Pagina home responsivo */
    .faca-mais .faca-mais-text{
        margin-top: 10px;
        padding: 0 20px;
        order: 1;
    }
    .faca-mais .container{
        flex-direction: column;
    }
    .faca-mais .faca-mais-text h3{
        font-size: 48px;
    }
    .faca-mais .faca-mais-text,
    .faca-mais .faca-mais-img{
        width: 100%;
    }

    @media (max-width: 768px) {
    .banner .banner-text {
        padding: 40px;
    }

    .banner .banner-text h3 {
        font-size: 35px;
    }

    .banner .banner-text p {
        font-size: 19px;
    }
}

.faca-mais-text {
    font-size: 18px; /* Tamanho de fonte base */
    line-height: 1.5; /* Espaçamento entre linhas */
}

@media (max-width: 768px) {
    /* Estilos para telas menores, como dispositivos móveis */
    .faca-mais-text {
        font-size: 19px; /* Tamanho de fonte menor para telas menores */
    }
}

.faca-mais-img img {
    max-width: 100%;
    height: auto;
}

.card-item img {
    max-width: 100%;
    height: auto;
}
.depoimento-user {
    font-size: 16px; /* Tamanho de fonte base */
    text-align: center;
}

@media (max-width: 768px) {
    /* Estilos para telas menores, como dispositivos móveis */
    .depoimento-user {
        font-size: 14px; /* Tamanho de fonte menor para telas menores */
    }
}

@media (max-width: 768px) {
    .card-item {
        margin-bottom: 20px; /* Reduz o espaçamento entre os depoimentos */
    }
}
/* Estilos para telas menores, como dispositivos móveis */
@media (max-width: 768px) {
    .depoimentos .container h3 {
        font-size: 35px; /* Reduz o tamanho da fonte para telas menores */
    }

    .depoimentos .container p {
        font-size: 17px; /* Reduz o tamanho da fonte para telas menores */
        color: white;
        gap: 10px;
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    /* Estilos para telas menores, como dispositivos móveis */
    .clientes h3 {
        font-size: 35px; /* Reduz o tamanho da fonte para telas menores */
    }

    .clientes h4 {
        font-size: 16px; /* Reduz o tamanho da fonte para telas menores */
        color: white;
        margin-top: 10px;
    }
}
/* Estilos padrão para telas maiores */
.clientes img {
    max-width: 100%;
    max-height: 120px; /* Altura máxima das imagens */
    height: auto;
    display: inline-block; /* Mantém as imagens em linha em telas maiores */
    margin-right: 10px; /* Adiciona um espaço horizontal entre as imagens */
}

/* Estilos para telas menores, como dispositivos móveis */
@media (max-width: 768px) {
    .clientes img {
        display: block; /* Torna as imagens blocos, uma abaixo da outra */
        margin: 10px auto; /* Adiciona espaçamento vertical entre as imagens e centraliza-as horizontalmente */
        margin-right: 0; /* Remove o espaço horizontal entre as imagens */
    }
}

/* footer Responsivo*/
/* Estilos padrão para telas maiores */
.footer {
    color: #fff; /* Cor do texto */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
    text-align: center; /* Alinhar o conteúdo ao centro */
}

.footer .links {
    margin-bottom: 10px; /* Espaçamento inferior entre os ícones e o texto de direitos autorais */
}

.footer a {
    color: #fff; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
    margin: 0 10px; /* Espaçamento horizontal entre os ícones */
}

/* Estilos para telas menores, como dispositivos móveis */
@media (max-width: 768px) {
    .footer {
        padding: 20px 0; /* Mantém o mesmo espaçamento interno */
    }

    .footer .links {
        margin-bottom: 20px; /* Aumenta o espaçamento inferior entre os ícones e o texto de direitos autorais */
    }

    .footer a {
        font-size: 36px; /* Aumenta o tamanho dos ícones para telas menores */
    }

    .footer p {
        font-size: 14px; /* Reduz o tamanho do texto de direitos autorais para telas menores */
    }
}

    /* pagina sobre responsivo*/
    .sobre .container{
        flex-direction: column-reverse;
    }
    .sobre .sobre-img,
    .sobre .sobre-text{
        width:100%;
    }
    .sobre .sobre-text{
        margin-top: 40px;
        word-spacing: 5px;
    }
    /* Estilos para tornar a imagem responsiva */
    .sobre-img img {
    max-width: 100%; /* A imagem se ajustará à largura do contêiner pai */
    height: auto; /* Mantém a proporção original da imagem */
    }

    @media (max-width: 768px) {
    .sobre-text h3 {
        font-size: 35px;
        color: white;
    }
}

    /* Pagina contato responsivo */
    .contato .contato-info{
        flex-direction: column-reverse;
    }
    .contato-info .right-side,
    .contato-info .left-side{
        width: 100%;
    }
    .contato-info .right-side{
        margin-bottom: 30px;
    }
}
@media (max-width:500px) {
    .banner .banner-text h1 {
        font-size: 50px;
    }
    .faca-mais .faca-mais-text h3{
        font-size: 40px;
    }
}
/* Estilos para telas móveis (largura máxima de 768px) */
@media (max-width: 768px) {
    .contato-info {
        flex-direction: column; /* Altera a direção do flex para coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
        text-align: center; /* Centraliza o texto horizontalmente */
    }

    .contato-info .left-side {
        margin-right: 0; /* Remove a margem direita */
        margin-bottom: 20px;
    }

    .contato-info .left-side div {
        margin-bottom: 20px; /* Adiciona espaçamento entre os itens */
    }
}
/* Estilos para telas móveis (largura máxima de 768px) */
@media (max-width: 768px) {
    .dados {
        display: flex;
        flex-direction: column;
        align-items: center; /* Opcional: centraliza os itens horizontalmente */
        text-align: center; /* Opcional: centraliza o texto horizontalmente */
    }

    .dados-item {
        margin-bottom: 15px; /* Adiciona espaçamento entre os itens */
    }
}
.dados-item img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .servicos iframe {
        max-width: 100%; /* Defina a largura máxima para 100% do contêiner pai */
        height: auto; /* A altura será ajustada automaticamente para manter a proporção original */
    }
}

/* Estilos padrão para os cards */
.row-card-item {
    width: 30%; /* Defina a largura desejada para os cards */
    margin: 0 2%; /* Espaçamento entre os cards */
    display: inline-block;
    vertical-align: top;
}

/* Estilos para telas menores (largura máxima de 768px) */
@media (max-width: 768px) {
    .row-card-item {
        width: 100%; /* Os cards ocuparão 100% da largura do contêiner pai */
        margin: 0 0 20px; /* Espaçamento entre os cards na vertical */
    }
}